$url_0: url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
$url_1: url('../images/breadcrumb/breadcrumb-bg.jpg');
$url_2: url('../images/loading.svg');
$url_3: url('../images/hero/home-page4.jpg');
$url_4: url('../images/hero/small-patern.png');
$url_5: url('../images/hero/pattern.png');
$url_6: url('../images/call-action/cat-bg.jpg');