.pagination {
	text-align: left;
	margin: 40px 0 0;
	display: block;
	&.center {
		text-align: center;
	}
	&.right {
		text-align: right;
	}
	&.left {
		text-align: left;
	}
	.pagination-list {
		display: inline-block;
		overflow: hidden;
		li {
			margin-right: 5px;
			display: inline-block;
			&:last-child {
				margin-right: 0;
			}
			a {
				background: $white;
				color: $color_black_pearl_approx;
				font-weight: 500;
				font-size: 13px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				line-height: 40px;
				height: 40px;
				width: 40px;
				text-align: center;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 4px;
				border: 1px solid $color_gallery_approx;
				i {
					font-size: 13px;
				}
			}
			&.active a {
				background: $color_persian_blue_approx;
				color: $white;
				border-color: transparent;
			}
			&:hover a {
				background: $color_persian_blue_approx;
				color: $white;
				border-color: transparent;
			}
		}
	}
}