//colors
$white: #fff;
$black_10: rgba(0, 0, 0, 0.1);
$color_biscay_10_approx: rgba(29, 42, 93, 0.1);
$color_waikawa_gray_approx: #5e678c;
$color_mine_shaft_approx: #222;
$color_black_pearl_approx: #081828;
$color_gallery_approx: #eee;
$color_persian_blue_approx: #2042e3;
$color_oslo_gray_approx: #7e8890;
$color_shark_15_approx: rgba(35, 38, 45, 0.15);
$color_mercury_approx: #e6e6e6;
$black_5: rgba(0, 0, 0, 0.05);
$color_mine_shaft_25_approx: rgba(51, 51, 51, 0.25);
$color_martini_6_approx: rgba(153, 153, 153, 0.06);
$color_dove_gray_approx: #666;
$color_catskill_white_approx: #f6f9fc;
$color_athens_gray_approx: #e2e4ea;
$black: #000;
$color_martini_approx: #999;
$color_gray_approx: #888;
$color_white_lilac_approx: #f4eefb;
$color_zircon_approx: #f9faff;
$black_8: rgba(0, 0, 0, 0.08);
$color_boulder_approx: #777;
$color_international_klein_blue_approx: #0221b3;
$color_selago_approx: #f4f5fe;
$seashell: #f1f1f1;
$color_deep_cerulean_approx: #0077b5;
$color_punch_approx: #dd4b39;
$color_azure_approx: #3b5999;
$color_dorado_approx: #555;

//colors
$color_black_pearl_approx: #081828;
$white: #fff;
$black_10: rgba(0, 0, 0, 0.1);
$color_gallery_approx: #eee;
$color_blue_ribbon_approx: #0167f3;
$color_deep_cove_approx: #051441;
$color_gray_approx: #888;
$color_mine_shaft_approx: #3b3b3b;
$color_boulder_approx: #767676;
$black_7_5: rgba(0, 0, 0, 0.075);
$color_shark_15_approx: rgba(35, 38, 45, 0.15);
$white_45_9: rgba(255, 255, 255, 0.459);
$color_dorado_approx: #555;
$black_13_7: rgba(0, 0, 0, 0.137);
$color_mercury_approx: #e6e6e6;
$black: #000;
$black_5: rgba(0, 0, 0, 0.05);
$color_alabaster_approx: #f9f9f9;
$color_dove_gray_approx: #666;
$color_red_orange_approx: #f73232;
$color_supernova_approx: #fecb00;
$color_silver_chalice_approx: #aaaaaa;
$mercury: #e5e5e5;
$color_alto_approx: #dfdfdf;
$color_martini_approx: #999;
$black_12_3: rgba(0, 0, 0, 0.123);
$color_milano_red_approx: #ca0f05;
$color_japanese_laurel_approx: #029c07;
$color_azure_approx: #3b5999;
$color_picton_blue_approx: #55acee;
$color_punch_approx: #dd4b39;
$color_deep_cerulean_approx: #0077b5;
$color_monza_approx: #bd081c;
$orange_peel: #ffa000;
$alto: #dbdbdb;
$color_chambray_approx: #3b5998;
$color_white_lilac_approx: #e6e2f5;
$color_silver_approx: #c2c2c2;
$white_30_8: rgba(255, 255, 255, 0.308);