
//urls
$img_hero_bg: url('../images/hero/hero-bg.jpg');
$img_hero_bg_2: url('../images/hero/hero-bg2.jpg');
$img_hero_bg_3: url('../images/hero/hero-bg3.jpg');
$newsletter_bg_3: url('../images/newsletter/newsletter-bg.png');
$cat_bg: url('../images/call-action/cat-bg.jpg');
